nav {
  font-size: 1.5em;
  border-bottom: 2px solid rgb(128, 128, 128);
  margin-bottom: 5%;
}

.header {
  text-align: center;
}

.App {
  padding: 25px;
  background-image: url('./yoga.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500vh;
  width: 97vw;
}


.signup_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px 0px;
  max-width: 20%;
  margin: 0 auto;
  border: 2px solid #000000;
  padding: 20px;
  background-color: #EFF8FA;
  opacity: 0.95;
}

.signup_login_form {
  display: flex;
  flex-direction: column;
}

.username {
  display: flex;
  flex-direction: row;
  gap: 0px 20px;
}

.pass {
  display: flex;
  flex-direction: row;
  gap: 0px 20px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px 0px;
  max-width: 20%;
  margin: 0 auto;
}

#create_account {
  margin-left: -66%;
}

#logout {
  margin-left: 0%
}

.welcome_blurb {
  text-align: center;
  margin: 30px;
  padding: 16px;    
  border: 2px solid #000000;
  background-color: #EFF8FA;
  opacity: 0.95;
}

.activity_div {
  margin: 0px auto;
  width: 90%;
  opacity: 0.95;
}

.activity_dropdown {
  margin: 0px 550px 10px 550px;
}

.forms {
  text-align: center;
  margin: 0px auto;
  padding: 20px;
  width: 80%;
  background-color: #EFF8FA;
  border: 2px solid #000000;
}

.inputs {
  display: flex;
  justify-content: center;
  grid-gap: 0px 20px;
  gap: 0px 20px;
}

.records {
  margin: 0 auto;
  border: 2px solid #000000;
  padding: 20px;
}

.bar_chart {
  margin: 40px 90px;
}